#   SPDX-License-Identifier: Unlicense
#   Project: Nyra
#   File: .gitignore
#   Authors: Invra
#   Notes: Git ignore file

# Dotnet related
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
project.lock.json
project.fragment.lock.json
artifacts/
packageDir/

# Rust
debug
target
**/*.rs.bk

# Editor related
.vs/
.idea/
.vscode/
*.session
.windsurf/
*.sublime-workspace
!.vscode/extensions.json

# Git related
*.patch

# Other
*.log
*.tmp
*.temp
.DS_Store
[Dd]esktop.ini
