#   SPDX-License-Identifier: Unlicense
#   Project: Nyra
#   File: .gitignore
#   Authors: Invra
#   Notes: Git ignore file

*.out
*.patch
.DS_Store

# Ignore all untrusted top level files.
*/
!bin
!Data
!docs
!Utils
!hr.nu
!Bot.cs
!TODO.org
!Commands
!deps.jsonc
!Program.cs
!README.adoc
!LICENSE.txt
!HardwareInfo
!flake.{lock,nix}
!.vscode/extensions.json
!nyra.{csproj,slnx,toml.example}