#   SPDX-License-Identifier: Unlicense
#   Project: Nyra
#   File: .gitignore
#   Authors: Invra
#   Notes: Git ignore file

*.out
*.patch
.DS_Store

# Ignore all untrusted top level files.

*/
!Bot.cs
!Commands
!Data
!HardwareInfo
!LICENSE.txt
!Program.cs
!README.adoc
!TODO.org
!Utils
!bin
!deps.jsonc
!docs
!flake.{lock,nix}
!hr.nu
!.vscode/extensions.json
!nyra.{csproj,slnx,toml.example}