# Canonical author names and emails.
#
# Use this to provide a canonical name and email for an author when their
# name is not always written the same way and/or they have commits authored
# under different email addresses.
#
# Reference: https://git-scm.com/docs/gitmailmap

# Keep these entries sorted alphabetically.

Hiten Tandon <tandonhiten@gmail.com> <tandonhiten@gamil.com>
Invra <pacstrap@mx.idalon.org> <identificationsucks@gmail.com>
